.env
config.json
*.env.*
secrets.py
token.txt

venv/
.venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
alembic/__pycache__/

count.c
app/fractals/fractal.cpython-312-x86_64-linux-gnu.so
fractal.c
build
app/utils/count/count.cpython-312-x86_64-linux-gnu.so
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test.ipynb
*.db
*.sqlite
*.sqlite3
*.session
*.session-journal

*.log
logs/
downloads/
uploads/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
